.mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: solid rgb(255, 47, 47);*/
}

.mod a {
    width: 5%;
    margin-right: 1rem;
}

.mod a img {
    width: 85%;
}

.mod a img:hover {
    width: 100%;
}

.mod h1 {
    margin-left: 1rem;
}


.detailPurchaseForm {
    display: flex;
    flex-direction: Row;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    /*border: solid 1px;*/
}

/* ---------------------------------------- */


#newPurchaseDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid greenyellow;*/
}

.datePurchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 1rem;
}

.datePurchase img {
    width: 1.5rem;
    position: absolute;
    margin-left: 22rem;
    cursor: pointer;
}

#dtP_Input {
    letter-spacing: 3px;
    font-style: oblique;
    font-weight: bold;
}





/* ----------|  CARDLIST OF DETAILS |---------- */
.scroll-table {
    background-color: rgb(228, 199, 162);
    width: 85%;
    height: 22rem;
    max-height: 22rem; /* Max-height to see rows */
    overflow-y: auto;
    /* Vertical scrollbar*/
    border: 3px solid;
}



/* ----------|  Info details (purchase) |---------- */
.card_dtList {
    height: 100%;
}
.purchaseCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: solid 3px;
}



/* ----------|  Info details (purchase) |---------- */
.rowInfo{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: solid green;*/
}

.infoDt {
    /*border: solid red;*/
    width: 50%;
    font-size: 0.8rem;
}

/* ----------|  SubInfo details |---------- */
.subDetails{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*border: solid rgb(228, 199, 162);*/
}
.subDetails div {
    display: flex;
    justify-content: space-between;
}
.subDetails div i{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(228, 199, 162);
    border: solid 3px black;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5em;
    margin: 0.5rem;
}




#btn_addPurchase{
    margin: 1rem;
}










/* ---------------------------------------- */



#newDtPurchaseDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid rgb(255, 47, 203);*/
}

.purchaseInput {
    width: 70%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid red;*/
}















/*---------------------------------------------------*/
label {
    font-size: 1.5rem;
    /*border: solid purple;*/
}