.mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: solid rgb(255, 47, 47);*/
}

.mod a {
    width: 5%;
    margin-right: 1rem;
}

.mod a img {
    width: 85%;
}

.mod a img:hover {
    width: 100%;
}

.mod h1 {
    margin-left: 1rem;
}


.detailPurchaseForm {
    display: flex;
    flex-direction: Row;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    /*border: solid 1px;*/
}

/* ---------------------------------------- */


#newPurchaseDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid greenyellow;*/
}

.datePurchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 1rem;
}

.datePurchase img {
    width: 1.5rem;
    position: absolute;
    margin-left: 7.5rem;
    cursor: pointer;
}

#dtP_Input {
    width: 75%;
    letter-spacing: 3px;
    font-style: oblique;
    font-weight: bold;
}



.scroll-table {
    background-color: rgb(228, 199, 162);
    width: 85%;
    height: 22rem;
    max-height: 22rem;
    /* Max-height to see rows */
    overflow-y: auto;
    /* Vertical scrollbar*/
    border: 3px solid;

}

.card_dtList {
    height: 100%;
}


.purchaseCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*width: 22%;*/
    border-bottom: solid 3px;
    padding: 0.5rem;
}

.infoDt {
    /*border: solid red;*/
    width: 65%;
}

#btn_addPurchase{
    margin: 1rem;
}

/* ---------------------------------------- */



#newDtPurchaseDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid rgb(255, 47, 203);*/
}

.purchaseInput {
    width: 70%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid red;*/
}








#msgBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center in the middle of the view */
    background-color: #ffff;
    padding: 1rem 2rem;
    border: solid;
    border-radius: 8px;
    display: none;
    transition: opacity 0.5s ease-in-out; /* Efecto de desvanecimiento */
    text-align: center; /* Asegura que el texto esté centrado */
    font-weight: bold;
}






/*---------------------------------------------------*/
label {
    font-size: 1.5rem;
    /*border: solid purple;*/
}

input,
textarea,
select {
    background-color: rgb(228, 199, 162);
    width: 65%;
    border: solid 3px black;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}

button {
    padding: 0.5rem;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(221, 194, 41);
    font-family: 'Buxton Sketch';
}

button:hover {
    font-size: 1.2rem;
    background-color: rgb(221, 158, 41);
    cursor: pointer;
}