.rdbDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 11rem;
    margin-left: 11rem;
    /*border: solid rgba(255, 68, 0, 0.901);*/
}

.rdbOption {
    display: flex;
    flex-direction: row;
    /*border: solid purple;*/
}

label {
    font-size: 1.5rem;
    /*border: solid purple;*/
}

.rdbOption input {
    width: 20px;
    height: 20px;
}


#purchase{
    height: 22rem;
    max-height: 22rem;
}

.purchasesDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    /*border: solid cyan;*/
}

.loansDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    /*border: solid cyan;*/
}

.btnNewLoan{
    margin-top: 1rem;
}







#dtInput:enabled {
    width: 25%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Buxton Sketch';
    background-color: rgb(228, 199, 162);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 1.5px solid rgb(6, 6, 6);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
}

#dtInput:disabled {
    width: 25%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Buxton Sketch';
    background-color: #af9999;
    color: rgb(116, 106, 106);
    padding: 5px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
}







.btnActions{
    display: flex;
    flex-direction: row;
}
.btnActions img{
    width: 2.5rem;
    padding: 5px;
}
.btnActions img:hover{
    cursor: pointer;
    width: 3rem;
}











/* ----------| TABLES: PURCHASE & DT |---------- */
.purchaseRow {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid rgb(170, 41, 41);*/
}

.dt_purchaseRow {
    width: 70%;
    /*border: solid rgb(41, 170, 95);*/
}











/*---------------------------------------------------*/


.scroll-table {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;  /* Max height for rows */
    border: 3px solid;  /* Vertical scrollbar*/
}




.btnNewDtP {
    margin: 1rem;
}
.btnNewDtP:hover {
    background-color: rgb(221, 158, 41);
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////*/








.btn_EditForm{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 50%;
    /*border: solid rgb(0, 255, 128);*/
}






#saveEdit, #cancelEdit{
    width: 15%;
    border: solid 3px;
    border-radius: 5rem;
    cursor: pointer;
}



